<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>History Database Repository</p>
        <span>
          <a href="{% url 'repo:upload' %}">Upload</a>
        </span>

        {% if latest_perf_file_list %}
        <ul>
        {% for perf_file in latest_perf_file_list %}
          <li>{{ perf_file.pub_date|date:"Y-m-d"}}&nbsp;&nbsp;&nbsp;<a href="/repo/{{ perf_file.id }}/">{{ perf_file.app_name }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p> No performance files are available.</p>
        {% endif %}

    </body>
</html>
